.service {
  transition: 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
}
.service:hover {
  box-shadow: 2px 5px 10px gray;
}
.button {
  background-color: #ef6c00;
  border: #ef6c00;
  color: white;
  border-radius: 5px;
  width: max-content;
}

.service i {
  color: #ef6c00;
}
.service span {
  color: #ef6c00;
}
