.img{
    height: 50px;
    width: 60px;
}
.btn-delete{
    border-radius: 6px;
    background-color: #e40c04;
    border-color: #e40c04;
    color:  #FFFFFF;
}
.btn-delete:hover{
    color:  #c8c8c8;
}
.btn-update{
    border-radius: 6px;
    background-color: #EF6C00;
    border-color: #EF6C00;
    color:  #FFFFFF;
}
.btn-update:hover{
    color:  #c8c8c8;
}