.nav-Link {
  font-family: "Lato", sans-serif;
  font-size: 17px !important;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.5s ease-in-out;
  color: #ffffffcc;
}
.nav-bar {
  background-color: #2642a3;
}
.hv:hover {
  color: #ffffff;
}

.btn-authentication {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  padding: 8px 0;
}
.btn-authentication:hover {
  color: #2642a3;
  background-color: #ffffff;
}
.show > .navbar-nav > .nav-Link {
  margin-left: 0;
}
.nav-toggle-button {
  background-img: #fff;
  color: white;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler {
  box-shadow: none !important;
  border: 1px solid white !important;
  padding: 0 3px !important;
}
