.nav-Link {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.5s ease-in-out;
  color: #ffffffcc;
}
.nav-bar {
  background-color: #2642a3;
}
.hv:hover {
  color: #ffffff;
}

.btn-authentication {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  padding: 8px 0;
}
.btn-authentication:hover {
  color: #2642a3;
  background-color: #ffffff;
}
.show > .navbar-nav > .nav-Link {
  margin-left: 0;
}
