/* .container-div{
    background: rgba(223, 223, 223, 0.308);
} */
.user {
  border-radius: 50%;
  width: auto;
  margin: 0;
  padding: 0;
}
.testimonial-contents i {
  color: grey;
}
.testimonial-h-wrapper span {
  color: #5c7cfb;
}
