.footer-logo {
  color: #ef6c00;
}
.social-icon {
  list-style: none;
  cursor: pointer;
}
.icon-style {
  transition: 0.5s ease-in-out;
}
.icon-style:hover {
  fill: #ef6c00;
}

.fill-color {
  fill: grey;
}
.developer {
  color: inherit;
}
.developer:hover {
  color: #0dcaf0;
}
