.mytour{
    height: 100vh;
}
.booking-image{
    height: 50px;
    width: 50px;
}
.btn-delete{
    border-radius: 6px;
    background-color: #e40c04;
    border-color: #e40c04;
    color:  #FFFFFF;
}
.btn-delete:hover{
    color:  #c8c8c8;
}