.banner-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("../../Images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text {
  color: rgb(153, 152, 152);
}
.icon {
  background-color: rgb(59, 182, 141);
  border-radius: 50%;
  width: auto;
}
span {
  color: #ef6c00;
}
